label {
    font-size: 18px;
}

body {
    background-color: blanchedalmond;
}

.body {
    text-align: center;
    margin: 0% 30% 0% 30%;
    padding: 20px;
    background-color: #424757;
    color: #efefef;
    font-family: "Open Sans", Arial, sans-serif;
}

.text-box{
    padding: 0px 20% 0px 20%;
}

.contornar {
    color:#FFCCAC; 
    text-shadow:#000 2px -2px, #000 -2px 2px, #000 2px 2px, #000 -2px -2px;
}
h1,h2,h3,h4,h5,h6 {
    color: #efefef;
    font-weight: bold;
}